In [1]:
import sys
import pandas as pd
eat_places = pd.read_csv('datasets_eat_places.csv')

In [2]:
eat_places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43195 entries, 0 to 43194
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               43195 non-null  int64
 1   org_id                   43195 non-null  uint64
 2   city                     43195 non-null  object
 3   average_bill             17820 non-null  float64
 4   rating                   36438 non-null  float64
 5   rubric                   43195 non-null  object
 6   coffee_to_go             43195 non-null  int64
 7   food_delivery            43195 non-null  int64
 8   breakfast                43195 non-null  int64
 9   summer_terrace           43195 non-null  int64
 10  wi_fi                    43195 non-null  int64
 11  business_lunch           43195 non-null  int64
 12  payment_by_credit_card   43195 non-null  int64
 13  car_park                 43195 non-null  int64
 14  gift_certificate         43195 non-null  int64
 15  karaoke                  43195 non-null  int64
 16  free_delivery            43195 non-null  int64
 17  music                    43195 non-null  int64
 18  pets                     43195 non-null  int64
 19  air_conditioning         43195 non-null  int64
 20  view_on_ostankino_tower  43195 non-null  int64
dtypes: float64(2), int64(16), object(2), uint64(1)
memory usage: 6.9+ MB

In [16]:
# Убираем заведения где средний чек неизвестен или больше 2500
eat_places = eat_places[(eat_places.average_bill.notna()) & (eat_places.average_bill <= 2500)]

# Заменяем все NaN на средние значения
eat_places.fillna(eat_places.mean(numeric_only=True))

,Unnamed: 0,org_id,city,average_bill,rating,rubric,coffee_to_go,food_delivery,breakfast,summer_terrace,...,business_lunch,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower
0,1,16076540698036998306,msk,500.0,4.375000,Быстрое питание,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2,8129364761615040323,msk,500.0,4.000000,Кофейня,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
2,4,13418544315327784420,msk,500.0,4.409091,Кофейня,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,5,4997872545011433005,msk,500.0,4.541667,Кофейня,1,1,1,1,...,1,1,1,0,0,0,0,0,0,1
4,8,11913692756639492916,spb,500.0,3.600000,Столовая,0,1,0,1,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43185,68327,9047563910052896279,spb,1000.0,3.927778,Ресторан,1,1,1,1,...,1,1,0,0,1,0,0,0,0,0
43186,68328,17662684569129497551,spb,1000.0,4.561707,Ресторан,1,1,1,1,...,1,1,0,1,1,0,1,0,0,0
43187,68329,5700899951016592061,msk,1500.0,4.377129,Кальян-бар,0,1,0,1,...,1,1,0,1,1,0,0,0,0,0
43188,68330,4686040819909966338,msk,1500.0,3.666667,Ресторан,1,1,1,1,...,1,1,0,1,1,0,0,0,0,1
43189,68332,971801737399231340,msk,2500.0,4.659884,Ресторан,1,1,1,1,...,1,1,0,0,1,0,0,0,0,1

In [5]:
# Заведения из Петербурга
print(len(eat_places[eat_places.city == 'spb']))

# Заведения из Москвы
print(len(eat_places[eat_places.city == 'msk']))

# Также это можно было сделать так
# print(eat_places.city.value_counts())

6262
11075

In [6]:
# Какие типы заведений есть в датасете
print(eat_places['rubric'].unique())

['Быстрое питание' 'Кофейня' 'Столовая' 'Бар, паб' 'Булочная, пекарня'
 'Ресторан' 'Пиццерия' 'Кафе' 'Суши-бар' 'Кондитерская' 'Кофе с собой'
 'Кальян-бар' 'Бар безалкогольных напитков' 'Спортбар']

In [7]:
# 'Бар, паб' ; 'Ресторан'

# Суммарное кол-во ресторанов и пабов
print(len(eat_places[(eat_places.rubric == 'Бар, паб') | (eat_places.rubric == 'Ресторан')]))

#Средний чек ресторанов
print(eat_places[eat_places.rubric == 'Ресторан']['average_bill'].mean())

#Средний чек пабов
print(eat_places[eat_places.rubric == 'Бар, паб']['average_bill'].mean())

#Средний чек ресторанов и пабов
print(eat_places[(eat_places.rubric == 'Бар, паб') | (eat_places.rubric == 'Ресторан')]['average_bill'].mean())

5530
1253.5087719298247
699.025974025974
1099.0958408679928

In [8]:
# Какие заведения 'Кофе с собой' дейстыительно имеют эту фичу

print(len(eat_places[eat_places.rubric == 'Кофе с собой']) - len(eat_places[(eat_places.rubric == 'Кофе с собой') & (eat_places.coffee_to_go == 1)]))

57

In [9]:
# Разница между средним чеком кафе в Москве и Санк-Петербурге

print(abs(eat_places[eat_places.city == 'msk']['average_bill'].mean() - eat_places[eat_places.city == 'spb']['average_bill'].mean()))

94.73288667248733

In [10]:
eat_places.describe()

# Самая редкая фича - возможность приводить питомцев (0.075 %)
# Вторая по редкости (и это странно) - имение заведением кондиционера (0.093%)

# Картой можно оплатить почти везде(87%)

,Unnamed: 0,org_id,average_bill,rating,coffee_to_go,food_delivery,breakfast,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower
count,17337.000000,1.733700e+04,17337.000000,15573.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000,17337.000000
mean,43530.963662,9.209979e+18,750.072100,4.144113,0.751745,0.820788,0.599758,0.708312,0.879506,0.721578,0.866182,0.022668,0.099787,0.336044,0.050182,0.038992,0.000750,0.000923,0.211109
std,18231.825285,5.338317e+18,461.268841,0.634315,0.432013,0.383541,0.489961,0.454553,0.325547,0.448235,0.340466,0.148848,0.299724,0.472368,0.218326,0.193581,0.027374,0.030366,0.408107
min,1.000000,5.786926e+13,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33244.000000,4.602787e+18,500.000000,3.870370,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,47492.000000,9.183887e+18,500.000000,4.257143,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,57947.000000,1.381042e+19,1000.000000,4.547619,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,68332.000000,1.844028e+19,2500.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
# Новая таблица с кафе из Санкт-Петербурга
eat_places_spb = eat_places[eat_places.city == 'spb']
eat_places_spb

,Unnamed: 0,org_id,city,average_bill,rating,rubric,coffee_to_go,food_delivery,breakfast,summer_terrace,...,business_lunch,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower
4,8,11913692756639492916,spb,500.0,3.600000,Столовая,0,1,0,1,...,0,1,0,1,0,0,0,0,0,0
5,9,17739408339297875651,spb,500.0,4.276219,Быстрое питание,1,1,1,1,...,1,1,0,0,0,0,0,0,0,0
6,10,12608002566984191599,spb,500.0,3.428571,Кофейня,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
7,11,1456099975270739091,spb,500.0,4.748092,"Бар, паб",0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
8,13,6647514245407759924,spb,500.0,5.000000,Кофейня,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43165,68286,9707179366057065617,spb,1500.0,3.777778,Ресторан,1,1,0,1,...,1,1,0,0,1,0,0,0,0,0
43166,68288,3652989448358568014,spb,1500.0,3.000000,Ресторан,0,1,1,1,...,1,1,0,0,1,0,0,0,0,0
43181,68317,2777831238439895201,spb,500.0,5.000000,Ресторан,1,1,1,1,...,1,1,0,1,1,0,0,0,0,0
43185,68327,9047563910052896279,spb,1000.0,3.927778,Ресторан,1,1,1,1,...,1,1,0,0,1,0,0,0,0,0
43186,68328,17662684569129497551,spb,1000.0,4.561707,Ресторан,1,1,1,1,...,1,1,0,1,1,0,1,0,0,0

In [12]:
# Средней чек ресторанов:
print(eat_places_spb['average_bill'].mean())

# Был: 750, стал: 689.5; Уменшился на 60,5

689.5560523794314

In [13]:
eat_places_spb.describe()

,Unnamed: 0,org_id,average_bill,rating,coffee_to_go,food_delivery,breakfast,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower
count,6262.000000,6.262000e+03,6262.000000,5665.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.000000,6262.0
mean,43485.158735,9.201281e+18,689.556052,4.134147,0.771000,0.815714,0.615618,0.727882,0.890450,0.745289,0.866017,0.021239,0.102683,0.322261,0.042478,0.031939,0.001118,0.000958,0.0
std,18358.367878,5.339697e+18,390.449997,0.632309,0.420223,0.387748,0.486488,0.445086,0.312353,0.435733,0.340661,0.144192,0.303568,0.467380,0.201694,0.175851,0.033418,0.030942,0.0
min,8.000000,1.060027e+15,500.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,33278.250000,4.572769e+18,500.000000,3.857143,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,47529.500000,9.221634e+18,500.000000,4.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,58126.750000,1.377344e+19,500.000000,4.538462,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,68328.000000,1.843866e+19,2500.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [14]:
#Разница между средними значениями

all_avg = eat_places.describe().loc['mean']

spb_avg = eat_places_spb.describe().loc['mean']
print("значения: ")
print(pd.concat([all_avg.rename('all'), spb_avg.rename('spb')], axis=1))
print("Разница: ")
print(all_avg - spb_avg)

значения:
                                  all           spb
Unnamed: 0               4.353096e+04  4.348516e+04
org_id                   9.209979e+18  9.201281e+18
average_bill             7.500721e+02  6.895561e+02
rating                   4.144113e+00  4.134147e+00
coffee_to_go             7.517448e-01  7.709997e-01
food_delivery            8.207879e-01  8.157138e-01
breakfast                5.997577e-01  6.156180e-01
summer_terrace           7.083117e-01  7.278825e-01
wi_fi                    8.795063e-01  8.904503e-01
business_lunch           7.215781e-01  7.452890e-01
payment_by_credit_card   8.661822e-01  8.660172e-01
car_park                 2.266828e-02  2.123922e-02
gift_certificate         9.978658e-02  1.026828e-01
karaoke                  3.360443e-01  3.222613e-01
free_delivery            5.018169e-02  4.247844e-02
music                    3.899175e-02  3.193868e-02
pets                     7.498414e-04  1.117854e-03
air_conditioning         9.228817e-04  9.581603e-04
view_on_ostankino_tower  2.111092e-01  0.000000e+00
Разница:
Unnamed: 0                 4.580493e+01
org_id                     8.698272e+15
average_bill               6.051605e+01
rating                     9.965981e-03
coffee_to_go              -1.925486e-02
food_delivery              5.074081e-03
breakfast                 -1.586027e-02
summer_terrace            -1.957076e-02
wi_fi                     -1.094408e-02
business_lunch            -2.371092e-02
payment_by_credit_card     1.649069e-04
car_park                   1.429061e-03
gift_certificate          -2.896265e-03
karaoke                    1.378304e-02
free_delivery              7.703251e-03
music                      7.053074e-03
pets                      -3.680123e-04
air_conditioning          -3.527863e-05
view_on_ostankino_tower    2.111092e-01
Name: mean, dtype: float64

In [15]:
# Отсюда можно сделать вывод, что в Санкт-Петербурге меньше заведений с этими фичами:
# Кофе на вынос
# Завтрак
# Летняя терраса
# Интернет
# бизнес-ланчи
# Подарочные карты
# Можно приводить животных
# Кондицирнер
# А еще в Петербурге нельзя люьоваться на останкинскую башню... Почему же?